@model IEnumerable<OnlineShop_ASP_MVC.ViewModels.MenuTypeVM>

<div class="col-lg-12">
    <div class="mb-3">
        <h4>Categories</h4>
        <ul class="list-unstyled fruite-categorie">
            @foreach(var item in Model)
            {
                <li>
                    <div class="d-flex justify-content-between fruite-name">
                        <a asp-controller="HangHoa" asp-action="Index" asp-route-type="@item.Id"><i class="fas fa-apple-alt me-2"></i>@item.Name</a>
                        <span>@item.Quantity</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
